.city_externa{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
h3{
    background-color: rgb(99, 255, 71);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.note{
    font-size: 120%;
    color: red;
}
.main{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.aux{
    background-color: aqua;
}