html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body{
    background-color: #f4f3ff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
h1{
    margin-top: 0px;
    color: white;
    font-weight: bold;
    background-color: #c9c9ff;
    padding: 10px;
    font-size: 125%;
}
.lista{
    border-color: #c9c9ff;
    background-color: #e7e7ff;
    padding-bottom: 5px;
}
.fotos{
    width: 100%;
    text-align: center;
}